.contactArticle {
  width: 50%;
}

.contactForm {
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.inputContainer > label {
  margin: 0.5vw 0;
}

.inputField {
  width: calc(100% - 1.5vw - 2px);
  height: 3vw;
  padding: 0.5vw 1vw;
  color: white;
  min-height: 2rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.textField {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  height: 7.5vw;
  min-height: 3.5rem;
  outline: none;
  padding: 0.5vw 1vw;
  resize: vertical;
  width: calc(100% - 1.5vw - 2px);
}

.inputField:focus,
.textField:focus {
  border: 1px solid rgb(35, 35, 40);
}

@media only screen and (orientation: portrait) {
  .contactForm {
    width: 100%;
  }
  .contactArticle {
    width: 100%;
  }
  .inputContainer > label {
    margin: 1vh 0;
  }
  .inputField {
    padding: 0.5vh 1.5vh;
    width: calc(100% - 3.5vh);
    height: 4vh;
    width: 100%;
  }
  .textField {
    padding: 0.5vh 1.5vh;
    width: calc(100% - 3.5vh);
    height: 10vh;
    resize: none;
    width: 100%;
  }
}
