.banner {
  position: relative;
  margin: 0;
  padding: 0;
}

.bannerImage {
  width: 100%;
  height: calc(100vh - 10vh);
  object-fit: cover;
  margin: 0;
}

.bannerTextContainer {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  margin: 0 0 2.5vw 2.5vw;
}

.bannerTextPrimary {
  font-size: 4vw;
  color: white;
  margin: 0 0 1vw 0;
  overflow-wrap: break-word;
}

.bannerTextSecondary {
  font-family: "Bebas Neue", cursive;
  font-size: 2vw;
  color: white;
  margin: 0;
  text-decoration: none;
}

.bannerTextSecondary:hover {
  color: rgba(255, 255, 255, 0.75);
  transition: 350ms;
}

@media (orientation: portrait) {
  .bannerTextContainer {
    width: calc(100% - 15vh);
    text-align: center;
    margin: 7.5vh;
  }

  .bannerTextPrimary {
    text-align: center;
    font-size: 5vh;
    margin: 0 0 1vh 0;
  }

  .bannerTextSecondary {
    text-align: center;
    font-size: 2.5vh;
  }
}
