.banner {
  position: relative;
  margin: 0;
  padding: 0;
}

.bannerImage {
  width: 100%;
  height: calc(100vh - 10vh);
  object-fit: cover;
  margin: 0;
}

.bannerTextContainer {
  bottom: 0;
  margin: 0 0 5% 5%;
  position: absolute;
  z-index: 1000;
}

.bannerTextContainer > h2 {
  font-size: 3.25em;
  margin: 10px 0;
}

.bannerTextSecondary > h5 {
  font-size: 1.75em;
  margin: 10px 0;
}

.bannerTextPrimary {
  color: white;
  margin: 0 0 1vw 0;
  overflow-wrap: break-word;
}

.bannerTextSecondary {
  font-family: "Bebas Neue", cursive;
  color: white;
  margin: 0;
  text-decoration: none;
}

.bannerTextSecondary:hover {
  color: rgba(255, 255, 255, 0.75);
  transition: 350ms;
}

@media only screen and (orientation: portrait) {
  .bannerTextContainer {
    left: 50%;
    margin: 0;
    transform: translate(-50%, -25%);
    width: 100%;
  }

  .bannerTextPrimary {
    margin: 0 0 1vh 0;
    text-align: center;
  }

  .bannerTextContainer > h2 {
    font-size: 2.5em;
    margin: 10px 0;
  }

  .bannerTextSecondary {
    text-align: center;
  }

  .bannerTextSecondary > h5 {
    font-size: 1.5em;
    margin: 10px 0;
  }
}

@media only screen and (orientation: landscape) and (width < 600px) {
  .bannerTextContainer > h2 {
    font-size: 2em;
  }
  .bannerTextSecondary > h5 {
    font-size: 1.25em;
  }
}
