.itemList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2.5vw;
  row-gap: 2.5vw;
  padding: 2.5vw;
  margin: 0;
  justify-content: center;
  list-style: none;
}

.items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 5/3;
  width: fit-content;
  height: fit-content;
}

.itemImage {
  width: 100%;
  height: calc(100% - 4.5vw - 1px);
  object-fit: cover;
  margin: 0 0 1vw 0;
}

.itemImage__mouseOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5vw - 1px);
  object-fit: cover;
  margin: 0 0 1vw 0;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.25);
  transition-timing-function: ease-in-out;
  transition: 350ms;
}

.itemTextContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.itemTitle {
  font-family: "Bebas Neue", cursive;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  padding: 1vw 0 0 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  height: 1.5vw;
}

.itemTitle__mouseOver {
  font-family: "Bebas Neue", cursive;
  border-top: 1px solid rgba(0, 0, 0, 1);
  padding: 1vw 0 0 0;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  transition-timing-function: ease-in-out;
  transition: 350ms;
  height: 1.5vw;
}

.itemDescription {
  padding: 0;
  color: rgba(0, 0, 0, 0.75);
  height: 1.5vw;
}

.itemDescription__mouseOver {
  padding: 0;
  color: rgba(0, 0, 0, 1);
  transition-timing-function: ease-in-out;
  transition: 350ms;
  height: 1.5vw;
}
