.contentSpan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2vh;
}

.headerSpan {
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  margin: 0 0 2vh 0;
  padding: 0 0 2vh 0;
}

.introContainer {
  display: flex;
  flex-direction: row;
}

.introContainer > article {
  margin-right: 1rem;
  width: 50%;
}

.image {
  height: 100%;
  margin: 0 0 2vh 0;
  object-fit: cover;
  object-position: 20% top;
  width: 100%;
}

.imageContainer {
  width: 50%;
}

.mainArticle {
  width: 100%;
  margin: 0 0 6vh 0;
}

.majorContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}

@media (orientation: portrait), (width < 1000px) {
  .contentSpan {
    grid-template-rows: auto;
    column-gap: 2vh;
    row-gap: 2vh;
  }

  .image {
    height: auto;
    object-position: center top;
  }

  .imageContainer {
    width: 100%;
  }

  .introContainer {
    flex-direction: column;
  }

  .introContainer > article {
    width: 100%;
  }

  .mainArticle {
    width: fit-content;
    margin: 0;
  }
}

@media (orientation: portrait) and (width < 600px) {
  .contentSpan {
    grid-template-columns: 1fr;
  }
}

@media (orientation: portrait) and (width > 600px) {
  .contentSpan {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (orientation: landscape) and (width > 2560px) {
  .introContainer {
    flex-direction: row;
  }
}
