.mainArticle {
  width: 50%;
  margin: 0 0 6vh 0;
}

.majorContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}

.image {
  width: 100%;
}

.headerSpan {
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  padding: 0 0 2vh 0;
}

.contentSpan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2vh;
}

@media (orientation: portrait) {
  .mainArticle {
    width: fit-content;
    margin: 0;
  }
  .contentSpan {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2vh;
    row-gap: 2vh;
  }
}
