.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(35, 35, 40);
  color: white;
  padding: 2.5vw;
  height: calc(100vh - 5vw);
  min-height: fit-content;
}

.footerList {
  list-style: none;
  margin: 7.5vw 0 0 0;
  padding: 0;
  height: 40%;
  justify-content: space-between;
}

.footerListItem {
  margin: 0 0 auto 0;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  height: 3.5vw;
}

.footerLink {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
  text-decoration: none;
}

.footerCopywrite {
  display: flex;
  height: 100%;
  width: 50%;
  font-size: 1.5vh;
  align-items: flex-end;
  margin: 7.5vw 0 5vw 0;
}

@media (orientation: portrait) {
  .footerButton {
    font-size: 2vh;
  }
  .footerCopywrite {
    width: fit-content;
    margin: 10.5vh 5vh 5.5vh 5vh;
  }
  .footer {
    padding: 2.5vh;
    height: calc(100vh - 5vh);
  }
  .footerList {
    margin: 0 5vh;
  }
  .footerListItem {
    margin: 0 0 4vh 0;
  }
}

@media (orientation: portrait) and (width < 800px) {
  .footerButton {
    font-size: 1.5vh;
  }
  .footerList {
    margin: 2.5vh 0;
  }
  .footerCopywrite {
    width: fit-content;
    margin: 10.5vh 0 5.5vh 0;
  }
}
