.mainContainer {
  justify-content: center;
}

.locationBanner {
  display: flex;
  padding: 2.5vw 2.5vw 0 2.5vw;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

@media (orientation: portrait) {
  .locationBanner {
    padding: 7.5vh 7.5vh 0 7.5vh;
  }
}

@media (orientation: portrait) and (width < 800px), (width < 800px) {
  .locationBanner {
    padding: 2.5vh 2.5vh 0 2.5vh;
  }
}
