.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 35, 40);
  height: 8vh;
  padding: 1vw;
}

.navTitle {
  font-size: 1.5vw;
  font-family: "Bebas Neue", cursive;
  color: transparent;
  /* background-color: rgb(35, 35, 40); */
  text-decoration: none;
  padding: 1.5vw;
  animation: color-change 12s infinite linear;
}

.navTitle__selected {
  font-size: 1.5vw;
  font-family: "Bebas Neue", cursive;
  color: transparent;
  /* background-color: rgb(35, 35, 40); */
  text-decoration: none;
  padding: 1.5vw;
  animation: color-change 12s infinite linear;
}

.navTitle__selected:hover {
  cursor: default;
}

/* @keyframes effect {
  0% {
    background: linear-gradient(rgb(255, 137, 186), rgb(103, 207, 255));
    -webkit-background-clip: text;
  }

  100% {
    background: linear-gradient(rgb(103, 207, 255), rgb(255, 137, 186));
    -webkit-background-clip: text;
  }
} */

@keyframes color-change {
  0% {
    background: linear-gradient(rgb(160, 225, 255), rgb(255, 185, 214));
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(rgb(255, 185, 214), rgb(160, 225, 255));
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(rgb(160, 225, 255), rgb(255, 185, 214));
    -webkit-background-clip: text;
  }
}

.buttonList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navButton {
  background-color: transparent;
  margin: 1.5vw 1.5vw 1.5vw 1vw;
  padding: 0;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  color: white;
}

.navButton:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  transform: none;
  transition-timing-function: ease-in-out;
  transition: 350ms;
}

.navButton__selected {
  background-color: transparent;
  margin: 1.5vw 1.5vw 1.5vw 1vw;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

.navButton__selected:hover {
  cursor: default;
}

@media (orientation: portrait) {
  .navContainer {
    height: 8vh;
    padding: 1vh 6vh;
  }

  .navTitle {
    font-size: 2.5vh;
    font-family: "Bebas Neue", cursive;
    margin: 1.5vh;
  }

  .navTitle__selected {
    font-size: 2.5vh;
  }

  .navButton {
    margin: 1.5vh 1.5vh 1.5vh 1vh;
  }

  .navButton__selected {
    margin: 1.5vh 1.5vh 1.5vh 1vh;
  }
}
