.buttonList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navButton {
  background-color: transparent;
  margin: 2.5vmin 0 2.5vmin 2.5vmin;
  padding: 0;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  color: white;
}

.navButton:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  transform: none;
  transition-timing-function: ease-in-out;
  transition: 350ms;
}

.navButton__selected {
  background-color: transparent;
  margin: 2.5vmin 0 2.5vmin 2.5vmin;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

.navButton__selected:hover {
  cursor: default;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 35, 40);
  height: fit-content;
  padding: 2.5vw;
}

.navTitle {
  font-family: "Bebas Neue", cursive;
  color: white;
  text-decoration: none;
}

.navTitle__selected {
  font-family: "Bebas Neue", cursive;
  color: white;
  text-decoration: none;
}

.navTitle__selected:hover {
  cursor: default;
}

@media (orientation: portrait) {
  .buttonList {
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .navButton {
    border-bottom: 1px solid white;
    margin: 1rem 0.5rem;
    padding: auto;
  }

  .navContainer {
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 0;
  }

  .navTitle {
    font-size: 2.25rem;
    margin: 1rem;
  }

  .navTitle__selected {
  }
}

/* @media (orientation: portrait) and (width < 800px), (width < 800px) {
  .navContainer {
    padding: 1vh 2.5vh;
  }
  .navTitle {
    font-family: "Bebas Neue", cursive;
  }
  .navTitle__selected {
  }
} */
