.padded {
  padding: 2.5vw;
}

.pageTitle {
  font-size: 2vw;
  margin: 0 0 1vw 0;
  color: rgba(0, 0, 0, 0.75);
}

.friendlyText {
  margin: 0 0 2vw 0;
  color: rgba(0, 0, 0, 0.75);
}

.contentSpanImage {
  width: 100%;
}

.textSpan {
  color: rgba(0, 0, 0, 0.75);
  padding: 0 0 1vw 0;
}

.navLink-black {
  font-family: "Bebas Neue", cursive;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.navLink-black__selected {
  font-family: "Bebas Neue", cursive;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.navLink-white {
  font-family: "Bebas Neue", cursive;
  color: white;
  text-decoration: none;
}

.navLink-white__selected {
  font-family: "Bebas Neue", cursive;
  color: white;
  text-decoration: none;
}
