/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Sofia Sans Semi Condensed', sans-serif; */

body {
  margin: 0;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.75vmin;
  font-weight: normal;
}

code {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h3 {
  font-size: 6vmin;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

p {
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  overflow-wrap: break-word;
  font-weight: normal;
}

input,
textarea {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

@media (orientation: portrait) {
  body {
    font-size: 2vmin;
  }
  h3 {
    font-size: 4vmin;
  }
  p {
    font-size: 2vmax;
  }
}

@media (orientation: portrait) and (width < 800px), (width < 800px) {
  body {
    font-size: 2vmax;
  }
  h3 {
    font-size: 3vmax;
  }
  p {
    font-size: 2vmax;
  }
}
