/* font-family: 'Barlow Condensed', sans-serif; */
/* font-family: 'Bebas Neue', cursive; */

body {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
}

@media (orientation: portrait) {
  body {
    font-size: 2vh;
  }
}
