.itemList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 2.5vw;
  row-gap: 2.5vw;
  padding: 2.5vw;
  margin: 0;
  justify-content: center;
  list-style: none;
}

@media only screen and (orientation: portrait) and (width < 600px) {
  .itemList {
    grid-template-columns: 1fr;
    row-gap: 5vw;
    padding: 5vw;
  }
}

@media only screen and (orientation: portrait) and (width > 600px) {
  .itemList {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5vh;
    padding: 5vh;
  }
}

@media only screen and (orientation: landscape) and (width < 800px) {
  .itemList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (orientation: landscape) and (width >= 1600px) {
  .itemList {
    grid-template-columns: repeat(3, 1fr);
  }
}
