.imageContainer {
  position: relative;
  display: flex;
}

.items {
  align-items: flex-start;
  aspect-ratio: 3/2;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  position: relative;
  width: fit-content;
}

.items:hover {
  cursor: pointer;
}

.items:hover > .itemTextContainer {
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgba(255, 255, 255, 0.75); */
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
  transition-timing-function: ease-in;
  transition: 350ms;
}

.itemDescription {
  color: rgba(0, 0, 0, 0.75);
  height: 100%;
  margin: 1rem 0 0 0;
  min-height: fit-content;
  padding: 0;
  text-align: center;
  width: 100%;
}

.itemDescription__mouseOver {
  color: rgba(0, 0, 0, 1);
  height: 100%;
  margin: 1rem 0 0 0;
  min-height: fit-content;
  padding: 0;
  text-align: center;
  transition-timing-function: ease-in;
  transition: 200ms;
  width: 100%;
}

.itemImage {
  aspect-ratio: 3/2;
  height: 100%;
  margin: 0 0 auto 0;
  object-fit: cover;
  width: 100%;
}

.itemImage__mouseOver {
  aspect-ratio: 3/2;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.25);
  height: 100%;
  left: 0;
  margin: 0 0 auto 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition-timing-function: ease-in;
  transition: 350ms;
  width: 100%;
}

.itemTextContainer {
  background-color: rgba(255, 255, 255, 0.65);
  /* background-color: rgba(255, 255, 255, 1); */
  border-radius: 5vw;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 0.75rem 1.75rem;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 75%;
}

.itemTitle {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Bebas Neue", cursive;
  height: 1.5vw;
  width: 100%;
  text-align: center;
}

.itemTitle__mouseOver {
  color: rgba(0, 0, 0, 1);
  font-family: "Bebas Neue", cursive;
  height: 1.5vw;
  text-align: center;
  transition-timing-function: ease-in;
  transition: 200ms;
  width: 100%;
}

@media (orientation: landscape) and (hover: none) {
  .items {
    aspect-ratio: 3/2;
  }

  .itemImage {
    margin: 0 0 1vh 0;
  }

  .itemImage__mouseOver {
    margin: 0 0 1vh 0;
  }

  .itemTextContainer {
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    height: fit-content;
    justify-content: center;
    left: 50%;
    padding: 0.5rem 0;
    transform: translate(-50%, -10%);
    width: 90%;
  }

  .itemTitle {
    color: rgba(0, 0, 0, 1);
    /* margin: 0 0 1rem 0; */
    text-align: center;
  }

  .itemTitle__mouseOver {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    width: 75%;
  }

  .itemDescription {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    width: 75%;
  }

  .itemDescription__mouseOver {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    width: 75%;
  }
}

@media (orientation: portrait) {
  .items {
    aspect-ratio: 3/2;
  }

  .itemImage {
    margin: 0 0 1vh 0;
  }

  .itemImage__mouseOver {
    margin: 0 0 1vh 0;
  }

  .itemTextContainer {
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: fit-content;
    justify-content: center;
    left: 50%;
    padding: 0.5rem 0;
    transform: translate(-50%, -10%);
    width: 90%;
  }

  .itemTitle {
    /* color: rgba(255, 255, 255, 1); */
    /* margin: 0 0 3.5vmin 0; */
    text-align: center;
  }

  .itemTitle__mouseOver {
    /* color: rgba(255, 255, 255, 1); */
    text-align: center;
    width: 75%;
  }

  .itemDescription {
    /* color: rgba(255, 255, 255, 1); */
    text-align: center;
    width: 75%;
  }

  .itemDescription__mouseOver {
    /* color: rgba(255, 255, 255, 1); */
    text-align: center;
    width: 75%;
  }
}

/* @media (orientation: portrait) and (width < 800px), (width < 800px) {
} */
