.itemList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2.5vw;
  row-gap: 2.5vw;
  padding: 2.5vw;
  margin: 0;
  justify-content: center;
  list-style: none;
}

@media (orientation: portrait) {
  .itemList {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: auto;
    padding: 7.5vh;
  }
}

@media (orientation: portrait) and (width < 800px) {
  .itemList {
    padding: 2.5vh;
  }
}
