.halfContainer {
  width: 50%;
}

.portraitImage {
  width: 100%;
  height: 32vw;
  object-fit: cover;
  object-position: top center;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1vw;
  padding: 0 0 calc(12vh - 2vw) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.nameContainer {
  margin: 0 0 2vw 0;
  height: 12vh;
}

.nameContainer > h4 {
  text-align: center;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1vw;
  margin: 12vh 0;
}

@media (orientation: portrait) {
  .halfContainer {
    width: 100%;
  }
  .cardContainer {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr;
    column-gap: 2vh;
    padding: 0 0 6vh 0;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }
  .listContainer {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr;
    column-gap: auto;
    justify-content: center;
    margin: 12vh 0 0 0;
  }
}
